* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    
    height: 100vh;
    width: 100vw;

    background: #25282a;
}

input[type="radio"] {
    display: none;
}

.slider_container {
    display: grid;
}

/* ===== * SLIDER COMPONENTS * ===== */

.slider__layout {
    grid-area: layout;
    width: 100%;
    line-height: 0;
    overflow: hidden;
    border-radius: 1em;
}

.slider__layout .img_slides {
    display: flex;
    height: 100%;
    width: 400%;
    transition: all .5s ease-in-out; 
}

.slider__layout figure {
    width: 100%;
    height: 100%;
    padding: 1em;
    background: #000;
}

.slider__layout figure .slider__image {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.slider__text {
    grid-area: text;
    padding: 1em 0 1em 1em;
    overflow: hidden;
}

.text_slides {
    display: flex;
    width: 400%;
    transition: all .5s ease-in-out; 
}

.text_slide {
    width: 100%;
    font-family: 'Montserrat', Helvetica, Arial, sans-serif;
    font-size: 1.5rem; 
    line-height: 1.5rem;
    font-weight: 400;
    color: #fff;
}

.slider__pagination {
    grid-area: pagination;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 1em;
}

.slider__pagination nav {
    display: flex;
    height: 100%;
    justify-content: space-around;
    column-gap: 1em;
}

.slider__pagination .slider__pagintaion_dot {
    box-sizing: content-box;
    width: 1em;
    height: 1em;
    cursor: pointer;
    border-radius: 100%;
    border: 2px solid #71abfe;
    background: transparent;
    transition: all .3s ease-in-out;
}

.slider__pagination .slider__pagintaion_dot:after {
    box-sizing: initial;
    content: '';
    display: block;
    height: 500%;
    width: 300%;
    margin-left: -100%;
}

.slider__pagination .slider__pagintaion_dot:hover {
    background: #2680ff;
    transition: all .02s linear;
}

.slider__pagination .slider__pagintaion_dot:active {
    background: #313d4e;
    border: 2px solid #002558;
    transition: all .01s linear;
}

/* ===== * SLIDER FUNCTIONALITY * ===== */
#input-1:checked ~ .slider__layout .img_slides { margin-left: 0%;   }
#input-2:checked ~ .slider__layout .img_slides { margin-left:-100%; }
#input-3:checked ~ .slider__layout .img_slides { margin-left:-200%; }
#input-4:checked ~ .slider__layout .img_slides { margin-left:-300%; }

#input-1:checked ~ .slider__text .text_slides { margin-left: 0%;   }
#input-2:checked ~ .slider__text .text_slides { margin-left:-100%; }
#input-3:checked ~ .slider__text .text_slides { margin-left:-200%; }
#input-4:checked ~ .slider__text .text_slides { margin-left:-300%; }

#input-1:checked ~ .slider__pagination .slider__pagintaion_dot:nth-child(1) { opacity: 1; background: #71abfe; }
#input-2:checked ~ .slider__pagination .slider__pagintaion_dot:nth-child(2) { opacity: 1; background: #71abfe; }
#input-3:checked ~ .slider__pagination .slider__pagintaion_dot:nth-child(3) { opacity: 1; background: #71abfe; }
#input-4:checked ~ .slider__pagination .slider__pagintaion_dot:nth-child(4) { opacity: 1; background: #71abfe; }

/* ===== * MOBILE STYLES * ===== */
@media screen and (max-width: 720px) {
    body {
        align-items: flex-start;
    }
    .slider_container {
        width: 100vw;
        height: 100vh;
        padding: 1em;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 1fr);
        grid-template-areas: 
            "layout"
            "layout"
            "layout"
            "layout"
            "pagination"
            "text";
        row-gap: 0px;
    }

    .slider__pagination {
        justify-content: center;
        align-items: center;
    }

    .slider__text {
        text-align: center;
        padding: 0em 1em;
    }

    .text_slide {
        font-size: 1.8rem;
        line-height: 2.3rem;
        padding: 10px;
    }

    .slider__pagination nav {
        column-gap: 2em;
        align-items: center;
    }

    .slider__pagination .slider__pagintaion_dot {
        height: 1.5em;
        width: 1.5em;
    }

    .slider__pagination .slider__pagintaion_dot::after {
        height: 300%;
    }

}

@media screen and (min-width: 720px) {
    body {
        align-items: flex-start;
    }

    .slider_container {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 1fr) 100px;
        grid-template-areas: 
            "layout layout layout"
            "layout layout layout"
            "layout layout layout"
            "layout layout layout"
            "text text pagination";
        row-gap: 20px;
        padding: 1em;
        height: 90vh;
    }

    .slider__pagination .slider__pagintaion_dot {
        height: 1.5em;
        width: 1.5em;
    }

    .text_slide {
        font-size: 1.5rem;
        padding: 0 1em 1em 0;
    }

}

@media screen and (min-width: 1024px){
    body {
        align-items: center;
    }
    .slider_container {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr) 150px;
        grid-template-areas: 
            "layout layout layout"
            "layout layout layout"
            "layout layout layout"
            "text text pagination";
        row-gap: 20px;
        max-width: 90vw;
        min-height: 20vh;
        max-height: 80vh;
        padding: 1em;
    }

    .slider__pagination .slider__pagintaion_dot {
        height: 1.1em;
        width: 1.1em;
    }

    .text_slide {
        font-size: 1.2rem;
    }


}

@media screen and (min-width: 1440px){
    .slider_container {
        max-width: 65vw;
    }

    .slider__pagination .slider__pagintaion_dot {
        height: 1em;
        width: 1em;
    }

}
